<h1>Rails 5.2 practice</h1>
<p>Using active storage for images and importing CSV</p>
<p><%= link_to 'Posts, to upload images', posts_path %></p>
<p><%= link_to 'Statements, to import CSV', statements_index_path %></p>
